@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&family=Quicksand:wght@300;500;600&display=swap');

@font-face {
    font-family: 'jazztextregular';
    src: url('types/jazztext_regular-webfont.woff2') format('woff2'),
         url('types/jazztext_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  background-color: #E8DEC5;
  text-align: center;
  margin: 0;
  padding: 0;
}
* {
  text align: center;
}
h1 {
  color: #366147;
  font-family: 'jazztextregular';
  font-size: 500%;
}
h2 {
  color: #2F282F;
  font-family: 'Rajdhani', sans-serif;
  font-size: 300%;
  font-weight: 700;
}
h3 {
  color: #416650;
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
  font-weight: 700;
}
p, a, ol, ul, table {
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
  font-weight: 400;
  font-size: 100%
  color: #0B1C20;
}
div {
    margin-left: 10%;
    margin-right: 10%;
}

button {
  text-decoration: none;
  background-color: #B1CAA6;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #366147;
  border-bottom: 1px solid #366147;
  border-left: 1px solid #CCCCCC;
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
  margin: 2%;
}

.navigationButton {
  text-decoration: none;
  color: #366147;
  background-color: #B1CAA6;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #366147;
  border-bottom: 1px solid #366147;
  border-left: 1px solid #CCCCCC;
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
  margin: 5%;
}

.currentPage {
  text-decoration: none;
  background-color: #366147;
  color: #B1CAA6;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #366147;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #366147;
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
  margin: 5%;
}

a:hover {
  color: #297575;
}
.currentPage:hover {
    color: #C8DDDD;
}

p + ul, p + ol {
  list-style-position: inside;
}

.leadSheet {
    display: none;
}

#allLeadSheets img {
    width: 70%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

th {
    font-weight: normal;
    width: 10%;
}

table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#aboutMe {
    margin-left: 0%;
    margin-right: 0%;
}

#aboutMePhoto {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #2D4E3A;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}